In [52]:
import pandas as pd
import numpy as np

df = pd.read_json("../data/raw/motion/0021500001.json",lines=True,orient='columns')

In [16]:
pd.DataFrame(df['events'][0])

,eventId,visitor,home,moments
0,1,"{'name': 'Detroit Pistons', 'teamid': 16106127...","{'name': 'Atlanta Hawks', 'teamid': 1610612737...","[[1, 1445991110020, 720.0, 24.0, None, [[-1, -..."
1,2,"{'name': 'Detroit Pistons', 'teamid': 16106127...","{'name': 'Atlanta Hawks', 'teamid': 1610612737...","[[1, 1445991114020, 717.41, 21.4, None, [[-1, ..."
2,3,"{'name': 'Detroit Pistons', 'teamid': 16106127...","{'name': 'Atlanta Hawks', 'teamid': 1610612737...","[[1, 1445991114020, 717.41, 21.4, None, [[-1, ..."
3,4,"{'name': 'Detroit Pistons', 'teamid': 16106127...","{'name': 'Atlanta Hawks', 'teamid': 1610612737...","[[1, 1445991129019, 702.12, 6.48, None, [[-1, ..."
4,5,"{'name': 'Detroit Pistons', 'teamid': 16106127...","{'name': 'Atlanta Hawks', 'teamid': 1610612737...","[[1, 1445991141099, 697.0, 24.0, None, [[-1, -..."
...,...,...,...,...
467,541,"{'name': 'Detroit Pistons', 'teamid': 16106127...","{'name': 'Atlanta Hawks', 'teamid': 1610612737...","[[4, 1445998879849, 11.3, None, None, [[-1, -1..."
468,543,"{'name': 'Detroit Pistons', 'teamid': 16106127...","{'name': 'Atlanta Hawks', 'teamid': 1610612737...","[[4, 1445998879849, 11.3, None, None, [[-1, -1..."
469,545,"{'name': 'Detroit Pistons', 'teamid': 16106127...","{'name': 'Atlanta Hawks', 'teamid': 1610612737...","[[4, 1445998905007, 11.3, None, None, [[-1, -1..."
470,546,"{'name': 'Detroit Pistons', 'teamid': 16106127...","{'name': 'Atlanta Hawks', 'teamid': 1610612737...","[[4, 1445998905007, 11.3, None, None, [[-1, -1..."
471,548,"{'name': 'Detroit Pistons', 'teamid': 16106127...","{'name': 'Atlanta Hawks', 'teamid': 1610612737...","[[4, 1445998913008, 4.85, None, None, [[-1, -1..."

In [153]:
columns=['player_id','team_id','loc_x','loc_y','ball_z','shot_clock']
a_list = []
moments = df['events'][0]['eventId'==1]['moments']

for moment_num, moment in enumerate(moments):
    locations = moment[5]

    time = moment[3]
    
    time_array_length = np.shape(locations)[0]

    time_array = np.full((time_array_length,1),fill_value=time)

    np.hstack((locations,time_array))

    a_list.append(np.hstack((locations,time_array)))

desired_shape = (np.shape(a_list)[0]*np.shape(a_list)[1],6)
a_list = np.reshape(a_list,desired_shape)
#Desired shape is np.shape(a_list)[0]*np.shape(a_list)[1],6
pd.DataFrame(a_list,columns=columns)

         player_id   team_id     loc_x     loc_y   ball_z  shot_clock
0    -1.000000e+00      -1.0  47.25031  26.14806  6.76567       24.00
1     1.610613e+09    2594.0  45.70423  15.57870  0.00000       24.00
2     1.610613e+09  200794.0  56.87016  22.95879  0.00000       24.00
3     1.610613e+09  201143.0  47.26914  24.47616  0.00000       24.00
4     1.610613e+09  201952.0  28.26728  23.73400  0.00000       24.00
...            ...       ...       ...       ...      ...         ...
1645  1.610613e+09  101141.0  28.68532  26.00971  0.00000       19.45
1646  1.610613e+09  202704.0  45.46978  24.52299  0.00000       19.45
1647  1.610613e+09  202694.0  11.38633  11.14297  0.00000       19.45
1648  1.610613e+09  203484.0  14.56702  43.49165  0.00000       19.45
1649  1.610613e+09  203083.0  25.19071  27.68948  0.00000       19.45

[1650 rows x 6 columns]

In [79]:
df['events'][0]['eventId'==1]['moments'][moment_num][5]

[[-1, -1, 43.91289, 24.99891, 2.36031],
 [1610612737, 2594, 15.2764, 36.09033, 0.0],
 [1610612737, 200794, 27.54525, 24.84218, 0.0],
 [1610612737, 201143, 18.4598, 28.18066, 0.0],
 [1610612737, 201952, 31.89566, 23.56022, 0.0],
 [1610612737, 203145, 12.53488, 19.01999, 0.0],
 [1610612765, 101141, 28.68532, 26.00971, 0.0],
 [1610612765, 202704, 45.46978, 24.52299, 0.0],
 [1610612765, 202694, 11.38633, 11.14297, 0.0],
 [1610612765, 203484, 14.56702, 43.49165, 0.0],
 [1610612765, 203083, 25.19071, 27.68948, 0.0]]

In [99]:
len(df['events'][0]['eventId'==1]['moments'][moment_num][5])

11

In [97]:
type(df['events'][0]['eventId'==1]['moments'][moment_num][5])

list